
/* .create-credentials{
    background-color: white;
    width: 80%;
    display: flex;
    font-family: 'Questrial';
    /* height: 100vh; */


/* .dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
    margin-left: 1%;

  }
  
  .dropdown-header {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
  }
  
  .dropdown-arrow {
    margin-left: 10px;
  }
  
  .dropdown-list {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 20px;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
.create{
    background-color: white;
    width: 80%;
    display: flex;
    font-family: 'Questrial';
    height: 100vh;
    flex-direction: column;
}  
.create-1{
   
    justify-content: center;
}
.credentials{
    font-size: 40px;
    margin-left: 6%;
    font-family: 'Questrial';
}
.creden{
    background-color: #9E71FF;
    padding: 150px 120px;
    border-radius: 2%;
    margin-left: 20%;
    margin-top: 5%;
    box-shadow: 0 3px 7px #0b0b0b;
    height: 200px;
    width: 300px;
 
}
.write{
    display: flex;
    flex-direction: row;
}
.setup{
    margin-top: -40%;
    margin-left: 7%;
    font-size: 30px;
    font-family: 'Questrial';
    color: white;
    margin-right: 30%;
    display: flex;
}
.cre{
    margin-top: -40%;
    margin-left: -27%;
    font-size: 30px;
    font-family: 'Questrial';
    color: white;
    margin-right: 30%;
    display: flex;
}
.create-please{
    margin-top: -25%;
    margin-left: 13%;
    font-size: 15px;
    font-family: 'Questrial';
}
.generate{
    width: 30;
    color: white;
    box-sizing: 20px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 16px;
    margin-left:1%;
}
.dropdown-search{
    width: 280px;
    border-radius: 20px;
    border: 0;
    margin-left: 4%;
} */